/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 
 @import "foundation_and_overrides";

table {
  width: 100%;
}

select {
  height: auto;
}

select[size], select[multiple] {
  background-image: none;
}

.button.alert {
  color: rgb(32, 170, 78);
  background: #000
}

.button.alert:hover {
  color: rgb(32, 170, 78);
  background: rgb(51, 51, 51)
}

h1{
  text-align: center;
}

hr{
  width: 50%;
  border: 3px solid black;
}

input[type="text"],#author_id,#format_id,label {
   width: 50%;
   margin-left: 1rem;
}